<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Work With Elixir - The best Elixir/Phoenix jobs, brought right to you</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/foundation.min.css") %>">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33474708-10', 'auto');
      ga('send', 'pageview');

    </script>

    <style type="text/css">
      html{
        margin: 0;
        height: 100%;
        overflow: hidden;
      }
      iframe{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        border:0;
      }
    </style>
  </head>

  <body>
    <%= render "_nav.html", assigns %>

    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/foundation.js") %>"></script>
  </body>
</html>
